<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: </h1>
    <h2>Coach: </h2>
    <h2>Point Guard: </h2>
    <h2>Shooting Guard: </h2>
    <h2>Small Forward: </h2>
    <h2>Power Forward: </h2>
    <h2>Center: </h2>
    
    <%= "#{params[:name]}" %>
 </body>
</html>



<!--<p>Team Name: <input type="text" name="name" /></p>-->
<!--<p>Coach: <input type="text" name="coach" /></p>-->
<!--<p>Point Guard: <input type="text" name="pg" /></p>-->
<!--<p>Shooting Guard: <input type="text" name="sg" /></p>-->
<!--<p>Small Forward: <input type="text" name="pf" /></p>-->
<!--<p>Power Forward: <input type="text" name="sf" /></p>-->
<!--<p>Center: <input type="text" name="c" /></p>-->
